/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
}


body{
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
}

a, a:visited {
	outline:none;
	color:#1c4f64;
}

a:hover{
	text-decoration:none;
}

section, footer, header{
	display: block;
}

#footer {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	background-color: #E4E4E4;
}

#back-button{
	height: 50px;
	width: 50px;
	position: relative;
  	background-repeat: no-repeat;
  	background-position: center; 
  	background-image: url("../img/reply.png"); 
  	float: right;
}

/*----------------------------
	The Header
-----------------------------*/

header{
	background-color:#fff;
	width: 100%;
	position: fixed;
	box-shadow:0 2px 4px rgba(0,0,0,0.3);
  	display: inline-block;
  	padding: 5px 0;
  	z-index: 99;
}

header h1, header h2{
	text-align:center;
  	float: left;
}

header h1{
	font: 2.5em 'Dancing Script', sans-serif;
	color:#5e676d;
	font-weight: bold;
}

header h2{
	font-style:italic;
	font-size:13px;
	color:#b2483a;
}

header img{
	margin: 0 auto;
	display: block;
}

/*----------------------------
	Thumbnails
-----------------------------*/

.thumbs{
	display: none;
}
/*----------------------------
	Media Queries
-----------------------------*/


@media screen and (max-width: 960px) {
	.thumbs, #credit{
		width:auto;
	}
	
	footer{
		display:none;
	}
	
	#bsaHolder{
		display:none;
	}
}
